.grid {
    display: grid; /* Makes the container a flex container */
    grid-template-columns: max-content max-content;
    grid-template-rows: auto auto;
    padding: 5px;
    margin: 0 auto;
}
  
.grid_box {
    padding: 5px;
}

.constraint_table {
    border: 1px solid black;
    border-collapse: collapse;
    table-layout: fixed;
    text-align: center;
    .const_header:hover {
        text-decoration: underline;
    }
    th, td {
        border: 1px solid black; /* Optional: visual aid */
        height: 25px;
    }
    th {
        color:blue;
        padding: 0px;
        line-height: 1;
        padding-left: 5px;
        padding-right: 5px;
    }
    .grayed {
        background-color: lightgray;
    }
}

.candidate_table {
    border-collapse: collapse;
    th, td {
        height: 25px;
        text-align: left;
        padding-left: 5px;
        padding-right: 5px;
    }
    td {
        border: 1px solid black;
    }
    th {
        padding: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-bottom: 1px solid black;
    }
}

.popup {
    margin: 0px;
    position: fixed; /* 1. Take it out of normal flow */
    top: 0;
    left: 200px;
    z-index: 9999; /* 2. High number to be in front */
    background: white; /* Semi-transparent background */
    text-align: center;
    color: black;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    min-width: 200px;

    .popup_content {
        padding: 5px;
    }

    .popup_header {
        box-sizing: border-box;
        border-bottom: 1px solid black;
        width: 100%;
        cursor: move;
        display: flex;
        justify-content: space-between;
        gap: 5px;
        padding: 5px;
    
        span {
            align-content: center;
        }
    
        .popup_close {
            box-sizing: border-box;
            aspect-ratio: 1;
            width: 20px;
            padding: 0px;
            border-radius: 0%;
            border: 1px solid black;
            text-align: center;
        }
    }

    .popup_buttons {
        display: flex;
        justify-content: space-between;
        gap: 5px;
        padding: 5px;
        align-content: center;
        align-items: center;

        button {
            margin: auto;
        }
    }
}

#add_constraint_error {
    color: red;
    font-size: 10pt;
    padding: 5px;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color:black;
    background-color: lightgray;
    margin: 0px;
    padding: 5px;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: 0 auto;
    margin-bottom: 20px;

    background-color:lightgray;

    div {
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
    }
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}