<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interactive OT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </script type="module" href="{{ url_for('static', filename='popup.js') }}">
    </script type="module" href="{{ url_for('static', filename='dynamic.js') }}">
    <script type="module">
        // Code inside here runs once the document is ready
        import { openPopup, closePopup, initializePopups } from "./static/popup.js";
        import { reloadAnalysis } from "./static/dynamic.js";

        $(document).ready(function(){
            window.constraints = ["MAX","DEP","*CODA","ONS"]

            initializePopups()
            reloadAnalysis()
        });
    </script>
</head>
<body class="body">
    <h1>Index main page</h1>
    <div class="flex_row">
        <div class="flex_column">
            <h3>Input:</h3>
            <p> {{ input }} </p>
            <table class="candidate_table">
                {# Candidate table contents are dynamically rendered. #}
            </table>
        </div>
        <div class="flex_column">
            <table class="constraint_table">
                {# Constraint table contents are dynamically rendered. #}
            </table>
        </div>
    </div>
</body>
</html>