<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interactive OT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        // Code inside here runs once the document is ready
        $(document).ready(function(){
            var constraints = ["MAX","DEP","*CODA","ONS"]

            
            function reloadAnalysis() {
                fetch('/ot-analysis', {
                        method: 'POST',
                        headers: {'Content-Type': 'application/json'},
                        body: JSON.stringify({constraints: constraints})
                    })
                    .then(response => response.json()) // Parse the response body as JSON
                    .then(json => {
                        console.log(json);
                        table = [];
                        table.push([]);
                        for (const constraint of constraints) {
                            table[0].push(constraint);
                        }
                        for (let i=0; i<json.tableau.length; i++) {
                            table.push([]);
                            for (const violations of json.tableau[i][1]) {
                                table[i+1].push(violations);
                            }
                        }
                        console.log(table);
                        console.log(formatConstraints(table));
                        $(".constraint_table").html(formatConstraints(table));
                        $(".candidate_table").html(formatForms(json.tableau));
                        bindEvents();
                    }) // Use the parsed data
                    .catch(err => console.log(err)); // Handle network or request errors
            }

            function formatConstraints(arr) {
                html = "";
                for (const c of arr[0]) {
                    html += ("<th draggable='true'>" + c + "</th>");
                }
                html = "<tr>" + html + "</tr>";
                for (let i=1; i<arr.length; i++) {
                    row = "";
                    for (const c of arr[i]) {
                        row += ("<td>" + c + "</td>");
                    }
                    row = "<tr>" + row + "</tr>";
                    html += row;
                }
                return html;
            }

            function formatForms(arr) {
                html = "";
                for (const c of arr) {
                    html += ("<tr><td>" + c[0] + "</td></tr>");
                }
                console.log(html)
                return html
            }

            function listenerDragStart(e) {
                e.target.style.opacity = '0.4';  // e.target = this
                e.dataTransfer.effectAllowed = 'move';
                var srcTxt = $(this).text();
                e.dataTransfer.setData('text', $(this).text());
            }
            function listenerDragEnd(e) {
                e.target.style.opacity = '1.0';  // e.target = this
            }
            function listenerDragOver(e) {
                if (e.preventDefault) {
                    e.preventDefault(); // Necessary. Allows us to drop.
                }
                return false;
            }
            function listenerDragEnter(e) {
                e.target.classList.add('dropZone');
            }
            function listenerDragLeave(e) {
                e.target.classList.remove('dropZone');
            }
            function listenerDrop(e) {
                if (e.preventDefault) {
                    e.preventDefault();
                }
                if (e.stopPropagation) {
                    e.stopPropagation();
                }
                var srcText = e.dataTransfer.getData('text'); 
                var destText = $(this).text();
                constraints = []
                $('.constraint_table tr:first th').each(function(index) {
                    var cellText = $(this).text();
                    if (cellText !== srcText) {
                        if (cellText === destText) {
                            constraints.push(srcText)
                            constraints.push(destText)
                        } else {
                            constraints.push(cellText)
                        }
                    }
                });
                console.log(constraints);
                reloadAnalysis();
            }

            function bindEvents() {
                var cols = document.querySelectorAll('th');
                [].forEach.call(cols, function(col) {
                    col.addEventListener('dragstart', listenerDragStart, false);
                    col.addEventListener('dragend', listenerDragEnd, false);
                    col.addEventListener('dragover', listenerDragOver, false);
                    col.addEventListener('dragenter', listenerDragEnter, false);
                    col.addEventListener('dragleave', listenerDragLeave, false);
                    col.addEventListener('drop', listenerDrop, false);

                    document.getElementById('myButton').addEventListener('click', () => {
                        fetch('/update', {
                                method: 'POST',
                                headers: {'Content-Type': 'application/json'},
                            })
                            .then(() => console.log("update success")) // Parse the response body as JSON
                            .catch(err => console.log(err));
                        });
                });
                console.log("binding events")
            }
            bindEvents()
        });
    </script>
</head>
<body>
    <h1>Index main page</h1>
    <div class="flex_row">
        <div class="flex_column">
            <h3>Input:</h3>
            <p> {{ input }} </p>
            <table class="candidate_table">
                <tr><th>Candidate forms:</th></tr>
                {% for form in forms %}
                    <tr><td>{{ form }}</td></tr>
                {% endfor %}
            </table>
            <button id="myButton">send request</button>
        </div>
        <div class="flex_column">
            <table class="constraint_table">
                <tr>
                    <th draggable="true">DEP</th><th draggable="true">MAX</th><th draggable="true">NUC</th><th draggable="true">*CODA</th>
                </tr>
                <tr>
                    <td>*</td><td> </td><td>*</td><td>*</td>
                </tr>
                <tr>
                    <td> </td><td> </td><td> </td><td>*</td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>