<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interactive OT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </script type="module" href="{{ url_for('static', filename='popup.js') }}">
    </script type="module" href="{{ url_for('static', filename='dynamic.js') }}">
    <script type="module">
        // Code inside here runs once the document is ready
        import { openPopup, closePopup, initializePopups } from "./static/popup.js";
        import { reloadAnalysis } from "./static/dynamic.js";

        $(document).ready(function(){
            window.input_index = 1
            window.inputs = ["embereknek", "hazaknak"]
            window.forms = [["em.be.rek.nek", "em.be.re.knek", "mbe.rek.nek", "em.be.re.ke.nek", "em.be.re.ke.ne.ke", "em.ber.ek.nek", "em.be.re.k.nek", "em.be.rek.ne", "em.be.re.ne"],
                            ["ha.zak.nak", "haz.ak.nak", "ha.za.nak", "ha.zak.na", "ha.za.knak", "ha.zak.na.k"]]
            window.constraints = ["NUC","*COMPLEX","MAX","DEP","ONS","*CODA"]

            initializePopups()
            reloadAnalysis()
        });
    </script>
</head>
<body class="body">
    <h1 class="title">Interactive Optimality Theory</h1>
    <div class="navbar">
        <div><a href="https://github.com/hskalla/interactive-ot" target="_blank"> GitHub </a></div>
        <div><a href="https://docs.google.com/forms/d/e/1FAIpQLSfAVkoWciF5DMr1ZHsSTlJN79iEVbZrZUey8AhMfBw66f3NmA/viewform?usp=publish-editor" target="_blank"> Submit Feedback </a></div>
    </div>
    <div class="grid">
        <div class="grid_box">
            <span><b>Input:</b></span>
            <select class="input_selector" id="input_selector"> {# Input selector is dynamically rendered. #} </select>
        </div>
        <div class="grid_box"> {# empty div for formatting #} </div>
        <div class="grid_box">
            <table class="candidate_table">
                {# Candidate table contents are dynamically rendered. #}
            </table>
        </div>
        <div class="grid_box">
            <table class="constraint_table">
                {# Constraint table contents are dynamically rendered. #}
            </table>
        </div>
    </div>
</body>
</html>